<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<!--    <key>CFBundleName</key>-->
<!--    <string>Название вашего приложения</string>-->
<!--    <key>CFBundleIdentifier</key>-->
<!--    <string>com.denops.НазваниеПриложения</string>-->
<!--    <key>CFBundleVersion</key>-->
<!--    <string>1.0</string>-->
<!--    <key>CFBundleShortVersionString</key>-->
<!--    <string>1.0</string>-->
<!--    <key>NSHumanReadableCopyright</key>-->
<!--    <string>© 2025, Spasiuk Denys         email denys.ops@gmail.com</string>-->
</dict>
</plist>
